.article_container.grid_8
  .negative_margin_wrapper.clearfix
    article.grid_8
      h3 Experience

      .job
        header
          h4 Frontend developer
            unecsaped!=' '
            span.position (Freelance)
          p.period 12.07.2016 - now
        ul.freelance_projects
          li
            a(href='http://royal-flowers.ru', target='_blank', rel='noopener') Site 'Royal Flowers'
            span
              unecsaped!=' '
              span.freelance_projects__details (layout and styling)
          li
            a(href='http://nirax.ru/products/online', target='_blank', rel='noopener') Nirax: Widget 'Online-chat and Messengers'
            span
              unecsaped!=' '
              span.freelance_projects__details (layout, styling and integration with web-server)
          li
            a(href='http://nirax.ru/products/amocrm', target='_blank', rel='noopener') Nirax: Module for invoicing between 1C and AmoCRM
            span
              unecsaped!=' '
              span.freelance_projects__details (improvements and bug fixes)
          li
            a(href='http://nirax.ru/products/amocrm', target='_blank', rel='noopener') Nirax: 1С — AmoCRM 1.0.0.1 (AmoCRM widget)
            span
              unecsaped!=' '
              span.freelance_projects__details (all works)

      .job
        header
          h4 Systems Analyst
            unecsaped!=' '
            span.position (BIFIT)
          p.period 01.06.2011 - 22.12.2015
        ul.responsibilities
          li analysis of customer requirements and competing solutions
          li composing, clarification and support technical specification
          li preparing UI mock-ups and composing design specification
          li presenting product to customer (calls, emails), processing of feedbacks from customers
          li reviewing the specifications of other analysis
          li control the performance of works in all phases of product development
          li creation the plan of study for new analysts, interviewing and teaching new analysts (totally teached four employees)
        p.projects Last projects - Internet-banking for private clients with adaptive web (material) design

      .job
        header
          h4 QA Engineer
            unecsaped!=' '
            span.position (BIFIT)
          p.period 12.09.2008 - 01.06.2011
        ul.responsibilities
          li test-design
          li creation the plan of study for new testers; interviewing and teaching new testers (totally teached  five employees)
          li processing of feedbacks from customers
          li provide full-cycle manual testing (smoke, regression and others)
